# git+https://github.com/supervisely/supervisely.git@test-branch

supervisely[agent,model-benchmark] @ git+https://github.com/supervisely/supervisely.git@upgrade-protobuf

opencv-python-headless==4.6.0.66
opencv-python==4.6.0.66

--extra-index-url https://download.pytorch.org/whl/cu128
torch==2.7.1+cu128
torchvision==0.22.1+cu128

# base ----------------------------------------
PyYAML==6.0.3
packaging==24.2  # Runtime replacement for pkg_resources requirement checks.
protobuf==6.33.5
tensorboard==2.20.0

# plotting ------------------------------------
matplotlib==3.10.8
pandas==2.2.3
scipy==1.15.3
seaborn==0.13.2

# export --------------------------------------
coremltools==8.3.0
onnx==1.17.0
onnxruntime==1.16.3
# scikit-learn==1.1.1  # for coreml quantization
numpy==1.26.4
# extras --------------------------------------
thop==0.0.31-2005241907  # FLOPS computation
pycocotools==2.0.10  # COCO mAP
